<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>You are being redirected to your url</title>
  <!-- facebook -->
  <meta property="og:site_name" content="http://www.careerbuilder.com/"/>
  <meta property="og:title" content="I got an A. Take this quiz and see what you get.">
  <meta property="og:description" content="Your knowledge practically makes you royalty.">
  <meta property="og:type" content="article">
  <meta property="og:url" content="http://127.0.0.1:3000/jobs/1/job_detail">

  <span class='st_sharethis_large' displayText='ShareThis'></span>
  <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
</head>
</html>